<div class="mainheading">Project Costs</div>
<div class="descfont">
  <label>Project Name</label>
  <div> <select class="descbox">
      <option>Kishan123</option>
    </select></div>
</div>
<div class="boxflex">
  <div>
    <div class="labelmargin">
      <label class="labelfont">Project Duration </label>
    </div>

    <input type="text" class="selectbox" />
  </div>
  <div>
    <div class="labelmargin">
      <label class="labelfont">Project Cost</label>
    </div>
    <input type="text" class="selectbox" />
  </div>
</div>
<div class=" margin boxflex">
  <div>

    <input type="text" class="selectbox" />
  </div>
  <div>

    <input type="text" class="selectbox" />
  </div>
  <div><button type="button" class="deletebtn">Delete</button></div>
</div>
<div class="addrow">
  <div><button type="button" class="addrowbtn">Add row</button></div>
</div>
<div><button type="button" class="nxtbtn">Next</button></div>