<div class="mainheading">Project Details</div>
<div class="boxflex">
 
  <div>
    <label class="labelfont">Organization</label>
    <select class="selectbox"><option>Hello</option></select>
  </div>
  <div>
    <label class="labelfont">Category</label>
    <select class="selectbox"><option>Hello</option></select>
  </div>
</div>
<div class="boxflex">
  <div>
    <label class="labelfont">Activity</label>
    <select class="selectbox"><option>Hello</option></select>
  </div>
  <div>
    <label class="labelfont">Title</label>
    <input type="text" class="selectbox"/>
  </div>
</div>
<div class="boxflex">
  <div>
    <label class="labelfont">Minimum Age </label>
    <input type="text" class="selectbox"/>
  </div>
  <div>
    <label class=" margin labelfont">Maximum Age </label>
    <input type="text" class="selectbox"/>
  </div>
</div>
<div class=" decmargin labelfont">
  <label >Overview Description</label>
  <div> <input type="text" class="descbox"/></div>
</div>