.selectbox{
    width: 50%;
    height: 40px;
    margin-top: 35px;
    

}
.mainheading{
    font-size: 30px;
    color: skyblue;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 30px;
    margin-top: 70px
}
.boxflex{
    display: flex;
    flex-direction: row;
    column-gap: 3%;
    margin-left: 25px;
    /* margin-top: 30px; */
}
.labelfont{
    font-size: 20px;
    color: lightskyblue;
    font-family: serif;
}
 .descbox{
     width: 900px;
     height: 40px;
     margin-top: 15px;
 }
 .descfont{
    font-size: 20px;
    color: lightskyblue;
    font-family: serif;
    margin-top: 30px;
    margin-left: 30px;
}
.labelmargin{
    margin-top: 20px;
    margin-left: 30px;
}
.margin{
    margin-top: -3px;
}
.addrowbtn{
    background-color:#F14165;;
    width: 900px;
    height: 40px;
    border-radius: 5px;
    margin-top: 34px;
}
.addrow{
    margin-top: 20px;
    margin-left: 20px;
}
.nxtbtn{
    background-color:#F14165;
    height: 45px;
    width: 80px;
    border-radius: 5px;
    margin-left: 90%;

}
.topboxmargin{
    margin-left: 30px;

}
.deletebtn{
    background-color:#F14165;
    height: 45px;
    width: 80px;
    border-radius: 5px;
    margin-top: 34px;
}